#scatterplot {
    width: 100%;
    height: 500px;
    position: relative;
}

.textLegend {
    margin-top: 20px;
    font-size: 13px;
    color: #636363;
}

.textLegendHard {
    margin-top: 23px;
    padding-left: 0;
    font-weight: bold;
}

#circle-big {
    width: 70px;
    height: 70px;
    background: #FFF;
    border: 2px solid #343434;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    margin-top: -8px;
}

#circle-medium {
    width: 50px;
    height: 50px;
    background: #FFF;
    border: 2px solid #343434;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    margin-top: 4px;
}

#circle-small {
    width: 35px;
    height: 35px;
    background: #FFF;
    border: 2px solid #343434;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    margin-top: 13px;
}

.d3plus_color {
    ry: 30;
    rx: 30;
}

.escala {
    margin-top: 25px;
}